.actions-wrapper {
  .ant-btn {
    justify-content: flex-start;
    gap: 8px;
    padding: 8px;
  }
}

.float-actions {
  .ant-float-btn-body {
    background-color: var(--active-color);
    svg {
      fill: white
    }

    &:hover {
      background-color: rgba(255, 143, 0, .8)
    }
  }
}

.custom_btn_action_group{
  z-index: 999 !important;
}