.array-from-type {
  display: flex;
  flex-direction: column;
  row-gap: 6px;

  .ant-collapse-header {
    padding: 8px 0px;
    align-items: baseline;
  }

  .delete-icon {
    color: red;
    cursor: pointer;
  }

  .is-disable {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .ant-collapse-content {
    padding: 5px;
  }
}