.ant-modal-content {
  .ant-modal-body {
    .modal-header {
      display: flex;
      border-bottom: 1px solid var(--main-background-color);
      margin-bottom: 10px;
      padding-bottom: 10px;

      .header-left {
        opacity: 0;
        animation: fade-right 0.5s 0.25s forwards;

        .modal-header--title {

          font-size: 20px;
          font-weight: 700;
          margin: 0;
          margin-bottom: 10px;
          font-variation-settings: "opsz"52.7, "GRAD"478;
          font-weight: 870;
          font-size: 34px;
          line-height: 30px;
          letter-spacing: 0.05em;
          font-style: normal;
        }

        .modal-header--description {
          margin-block: 5px;
        }
      }

      .circular-text-icon {
        opacity: 0;
        animation: fade-left 0.5s 0.25s forwards;
      }
    }

    .modal-content {
      .modal-content__title {
        font-size: 15px;
        font-weight: 400;
      }
      
      .hint {
        display: block;
        color: gray;
        font-size: 10px;
        margin-top: -5px;
        margin-bottom: 5px;
        font-style: italic;
        transform: translateY(-3px);
      }

      button.existing-quantity {
        width: 20px;
        height: 20px;
        min-width: unset;

        font-size: 9px;
        border: 1px solid var(--main-background-color);
      }

      // Iterate through div and do animation in order
      // div {
      //   opacity: 0;
      //   animation: fade-down 0.5s forwards;
      // }

      // @for $i from 1 through 5 {
      //   div:nth-of-type(#{$i}) {
      //     animation-delay: 0.6s + ($i * 0.15s);
      //   }
      // }
    }
  }

  

  .ant-modal-footer {
    .schema-action-button {
      width: 75px;
    }
  }
}
.schema-action-button {
  background-color: var(--pallet-teal-2);
  color: white;
  border: 1px solid transparent;

  &:hover {
    background-color: var(--pallet-teal-1) !important;
    color: white !important;
  }
}