.form-viewer {
  padding: 10px;
  background-color: white;

  .ant-form-item-label {
    width: 180px;
    white-space: unset !important;
    display: flex;
    align-items: center;
    label {
      height: unset !important;
      align-items: flex-start !important;
      word-break: break-word;
    }
  }
  #custom_input_unit{
    .ant-form-item-label{
      display: flex;
      align-items: baseline;
      margin-top: 5px;
    }
  }
}
