.wrapper-view-info {
  .view-item-info {
    position: relative;
    border: 1px solid #41B06E;
    padding: 5px;
  }

  .group-actions {
    position: absolute;
    top: -10px;
    right: 5px;
    background-color: white;
    padding: 0 4px;

    .ant-btn {
      height: 16px;
      width: 16px;
      border-radius: 3px;

      .anticon {
        font-size: 11px;
      }
    }

  }
}