.viewer-page {
  padding: 16px;

  .switch-box {
    text-align: center;
  }

  .form-inner {
    margin: 16px 0;

    .form-inner-heading {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
    }
  }
}