.step-label {
  display: flex;
  align-items: center;
  gap: 8px;
  color: black !important;

  .step-order {
    border-radius: 100%;
    background-color: var(--sider-header-border);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ant-tabs-tab-disabled {
  .step-label {
    color: rgba(0, 0, 0, 0.5) !important;
  }
}