.wrapper-tab {
  .ant-tabs-nav-more {
    display: none;
  }

  .ant-tabs-nav-list {
    width: 100%;
    overflow: auto;

    .ant-tabs-tab {
      flex-grow: 1;
      justify-content: center;
    }
  }

  .ant-col {
    min-height: unset;
  }

  .form-each-step-vertical {
    .ant-form-item-row {
      flex-direction: column;
    }
  }

  .form-each-step-horizontal {
    .ant-form-item-row {
      flex-direction: row !important;
    }
  }
}
