.page-sign-builder {
  .ant-modal-body,
  .builder-bar {
    max-height: 730px;
    overflow: hidden;
  }

  .ant-modal-content {
    padding: 20px 5px;
  }

  .content-form-view,
  .config-editor,
  .builder-bar {
    overflow-y: auto;
    height: 640px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
    }
  }
}
