NODE_ENV=development
PORT=3000
DATABASE_URL="mysql://root:FWvqooTFBNQAWudalNckJlCdOYyfMwOj@crossover.proxy.rlwy.net:26627/railway"
JWT_ACCESS_SECRET="change_this_access_secret"
JWT_REFRESH_SECRET="change_this_refresh_secret"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="http://localhost:3000/api/v1/auth/google/callback"
MAIL_HOST=""
MAIL_PORT=587
MAIL_USER=""
MAIL_PASS=""
MAIL_FROM="no-reply@ongnuocviet.vn"
AI_TARGET_DAYS=14
