.wrapper-select-address {

  .ant-modal-title {
    padding: 15px;

    h3 {
      margin: 0;
    }
  }

  .ant-modal-content {
    padding: 0;
  }

  .ant-modal-body {
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
  }

  .ant-modal-body,
  .ant-modal-footer {
    padding: 0 20px 20px 20px;
  }
}